.plainPaper {
    border-radius: 10px;
    padding: 1.2rem;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 20px 80px #00000011;
  }
  .status_absendt{
    background-color: "red";
  }
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer .title {
    font-size: 16px;
}
.bottomLine {
    opacity: 0.4;
    color: grey;
    margin-bottom: 5px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstCellFlex {
    display: flex;
    align-items: center;
}
.firstCellFlex .driverImgCont {
    width: 40px;
    height: 40px;
    border: 3px solid;
    border-radius: 50%;
}
.firstCellFlex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.firstCellInfo {
    margin-left: 10px;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
