.mainContainer {
    padding: 10px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer .title {
    font-size: 1rem;
    font-weight: 600;
   
}
.setWorking{
    border: 1px solid #29CB97 !important;
    color: #29CB97 !important;
    padding: 8px 20px !important;
    font-size: 0.8rem !important;
    border-radius: 30px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    width: 230px !important;
}
.bottomLine {
    opacity: 0.4;
    color: grey;
    margin-bottom: 5px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstCellFlex {
    display: flex;
    align-items: center;
}
.imgQr{
    width: 30px;
}
.firstCellFlex .driverImgCont {
    width: 40px;
    height: 40px;
    /*border: 3px solid;*/
    /*border-radius: 50%;*/
}
.firstCellFlex img {
    width: 40px;
    height: 40px;
    /*border-radius: 50%;*/
}
.firstCellInfo {
    margin-left: 10px;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productName {
    text-transform: capitalize;
}
.productCat {
    text-transform: capitalize;
    font-size: 12px;
}

.belowLabel {
    font-weight: bold;
    margin-left: 10px;
}



.heading{
    margin-right: 5px;
}

.featured{
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: rgba(250, 139, 12, 0.082);
    color: rgb(250, 139, 12);
}

.industry{
    font-size: 0.7rem;
    font-weight: 600;
}

.userForm{
    margin: 0 30%;
}

.paperBackground{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: white;
}

.lhs{
    flex: 0.5;
}
.filter{
    margin-bottom: 40px !important;
}
.actionTime{
   text-align: end !important;
   margin-top: 24px !important;
   margin-bottom: 15px !important;
   
}
.weekSection{
    border: 1px solid #B8C5D3 !important;
    color: #182C40 !important;
    padding: 0px 10px !important;
    /* font-size: 0.5rem !important; */
    border-radius: 30px !important;
    display: inline-block !important;
    font-weight: 600 !important;
    gap: 2px !important;
}
.actionButton{
    display: flex !important;
    gap: 22px !important;
    align-items: center !important;
   
}
.newLine{
    height: 4px;
    width: 30px;
    border-radius: 10px;
    margin-left: 1px;
    background-image: linear-gradient(265deg , #7467F0,#2896E9) !important;
}
.avatorFlex{
    display: flex;
    gap: 5px;
}
.avator{
    background-color: #fff;
    border: 1px solid #B8C5D3;
    width:32px; 
    height:32px;
    font-size:14px;
    color: #161616;
}
.avatorSeleted{
    background-color: #1285F9;
    border: 1px solid #B8C5D3;
    width:32px; 
    height:32px;
    font-size:14px;
    color: #FFFFFF;
}