.btnCont {
    display: flex;
    justify-content: flex-end;
}
.formContainer{
    flex: 1;
}
.locationWeap{
    margin-top: 30px;
}
.imgField{
    margin-left: 10px;
}
.nameField{
    margin-left: 10px;
}

.outerFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.resetBtn{
    background: #F7A728 !important;
    padding: 20px 50px !important;
    color: white !important;
    border-radius: 5px !important;
}

.enter{
    font-size: 0.8rem;
    margin-left: 10px;
    font-weight: 600;
    /*padding-bottom: 10px;*/
    display: block;
}

.createBtn{
    background-color: #29CB97 !important;
    color: #ffffff !important;
    padding: 12px 35px !important;
    font-size: 0.8rem !important;
    border-radius: 30px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}

.newLine{
    height: 4px;
    width: 30px;
    border-radius: 10px;
    margin-left: 20px;
    background-image: linear-gradient(265deg , #7467F0,#2896E9) !important;
}
