.employeeInducationWrapper {
  background: #eaf8fe;
  padding: 1.2rem;
  border-radius: 10px;
}

.title {
  font-size: 0.8rem;
  font-weight: 600;
}
.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  margin-left: 1px;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.contentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: yellow; */
  margin-top: 20px;
  gap: 30px;
}
.content {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  font-size: 0.8rem;
  min-width: 500px;
}
.imageWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.achorTag {
  font-weight: 600;
  font-size: 1.125rem;
  color: #2896e9;
}
.contentFormat {
  line-height: 1.5;
  /* margin-bottom: 0;
  margin-top: 0; */
}
.image {
  /* width: 282px;
  height: 334px; */
}
.date{
  font-weight: bold;
  font-size: .875rem;
  /* margin-top: 10px; */
  padding-top: 10px;
}
.hyperlinkText{
  color: #2896E9;
  text-decoration-line: underline;
  /* cursor: pointer; */
}
@media (max-width: 767px) {
  .employeeInducationWrapper{
    padding: 0.8rem;
  }
  .content{
    min-width: auto !important;
    width: 100%;
  }
  .contentWrapper {
    flex-direction: column;
  }
  .imageWrapper img{
    width: 100%;
    height: auto;
  }
}


@media (max-width: 767px) {
  .Login_mainLoginView__dRY-L {
      flex-direction: column;
  }
  .Login_signContainer__KxluJ{
      margin: 10% 4%;
  }
  .Login_loginFlex1__BcqbB{
      min-height: 240px;
  }
  .Login_mainLoginView__dRY-L{
      height: 100%;
  }
}
