.RequestShortlistWrapper {
  width: 783px;
  padding-bottom: 15px;
  border-top: 1px solid #00000029;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.edit {
  color: #29cb97 !important;
  border: 2px solid #29cb97 !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
}
.editBtn2 {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  gap: 30px;
}
.help {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: end;
}
.createBtn {
  background-color: #29cb97 !important;
  color: #ffffff !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}
.SlidebtnWrapper2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 10px;
}
.heading3 {
  font-weight: 600;
}
.sliderWrapper {
  /* height: 90vh; */
}
.sliderWrapperContainer {
  /* height: 90vh; */
  border-radius: 10px;
  padding: 0.4rem 1.2rem;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}
.stickBottom {
  position: fixed;
  bottom: 0;
}
.loginSignupText {
  text-align: left;
}
.headingText {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 28px;
  margin-bottom: 2px;
  /*font-family: CircularStd-Bold;*/
}
.newLine {
  height: 5px;
  width: 30px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.InterviewPopUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 366px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  padding: 35px 25px;
}
.closeWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.descriptionStrong {
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkBox {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6rem;
  align-items: center;
  color: #2896e9;
  font-weight: 500;
}
.cleckboxWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
}
.confirmedWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.customFieldWrapper {
  display: flex;
  width: 100%;
}
.actionButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.img{
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.imgWrap{
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1500px) {
  .RequestShortlistWrapper {
    width: 55vw;
  }
}
@media (max-width: 769px) {
  .RequestShortlistWrapper {
    width: 94vw;
  }
  #mobileResponsiveDataValue {
    display: flex;
    flex-direction: column !important;
  }
  #formIdentity {
    display: none !important;
  }
}
