/* Common Css  */

.container {
  display: flex;
  justify-content: center;
}
.headerContainer {
  /* margin: 5rem auto !important; */
  box-shadow: 2rem !important;
  background-color: #fff !important;
  border: "20px solid #00000011" !important;
  padding: 20px !important;
  width: 375px !important;
  height: auto !important;
  align-items: center;
}

.logo {
  text-align: center;
}
.logoCompleteion {
  text-align: center;
  margin-left: 10%;
}
.closeIconAction {
  float: right !important;
  top: 0px !important;
  right: 0px;
}
.logo img {
  width: 186px;
}
.title {
  text-align: center;
  color: #007aff;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
  font-size: 16px;
}

.gaps {
  margin-top: 10px;
}
.gapsThank {
  margin-top: 20% !important;
}
.gapsThank1 {
  margin-top: 16% !important;
}
.gapsThank2 {
  margin-top: 35% !important;
}
/*End Common Css  */

.paragraph {
  font-size: 14px;
  text-align: center;
  margin: 30px 0px 45px 0px;
}
.ic_Google_img {
  font-size: 14px;
  text-align: center;
}
.subParagraph {
  text-align: center;
  font-size: 14px;
  color: #212125;
  margin: 22px 0px 22px 0px;
}
.formNeg {
  margin: 20px 0px 20px 0px;
}
.subTitle {
  text-align: center;
  font-size: 16px;
  color: #212125;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}
.subReview {
  text-align: center;
  font-size: 16px;
  color: #212125;
  font-weight: bold;
  margin: 10px 0px 20px 0px;
}
.actionContainer {
  /* text-align: justify; */
  width: 375px !important;
  overflow: hidden;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin-top: 15px;
}

.action_negative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin-top: -30px;
}
.createBtn {
  background-color: #007aff !important;
  color: #ffffff !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 5px !important;
  /* text-transform: uppercase !important; */
  font-weight: 600 !important;
  width: 375px !important;
}
.createBtnDisable {
  background-color: #f5f5f5 !important;
  color: #000 !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 5px !important;
  /* text-transform: uppercase !important; */
  font-weight: 600 !important;
  width: 375px !important;
  text-align: justify;
}
.submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.createBtnSubmit {
  background-color: #007aff !important;
  color: #ffffff !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  width: 275px !important;
}
.feedbackContainer {
  display: flex !important;
  /* justify-content: space-between !important; */
  align-items: center !important;
  font-size: 14px !important;
  gap: 20px;
  width: 375px !important;
}
.submit {
  text-align: center;
}
.feedback {
  text-align: justify;
  display: flex;
  align-items: center;
}
.feedback1 {
  text-align: justify;
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.language {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
}
.english {
  /* color: #007aff; */
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
.hindi {
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: #007aff;
}

/* Negative Feeedback Css */
.emojiContainer {
  display: flex;
  justify-content: space-between;
  width: 375px !important;
}
@media screen and (max-width: 404px) {
  .headerContainer,
  .emojiContainer {
    width: 300px !important;
  }
  .feedback1 {
    margin-left: 1px !important;
  }
  .createBtn,
  .createBtnDisable,
  .actionContainer {
    padding: 12px 20px !important;
    width: 300px !important;
  }
  .actionContainer {
    margin-left: -30px;
    overflow: hidden;
  }
  .action {
    width: 200px !important;
  }
}
@media screen and (max-width: 352px) {
  .headerContainer,
  .emojiContainer {
    width: 250px !important;
  }
}
@media screen and (max-width: 282px) {
  .headerContainer,
  .emojiContainer {
    width: 210px !important;
  }
  .action_negative,
  .action {
    width: 200px !important;
  }
}
.negTitle {
  font-size: 14px;
  color: #212125;
  font-weight: bold;
  margin-top: 10px;
}
.negFeedBack {
  font-size: 12px;
  color: #007aff;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.negativeFeedback {
  display: flex;
  flex-direction: column;
}
.ngEmoji {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  color: black;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
.ngEmoji img {
  width: 37px;
  height: 37px;
}
.ngEmoji span {
  margin-left: 15px;
  font-size: 12px;
}
.ngEmojiActive {
  display: flex;
  flex-direction: column;
  background-color: #007aff;
  color: white;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
.ngEmojiActive img {
  width: 37px;
  height: 37px;
}
.ngEmojiActive span {
  margin-left: 15px;
  font-size: 12px;
}
.footerTitle {
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
  margin-top: 20px;
  color: #212125;
  margin: 20% 0px 20px 0px;
}
.underline {
  color: #007aff !important;
  border: none;
  text-decoration: underline !important;
  cursor: pointer;
}
.formContainer {
  margin-top: 2rem !important;
}
/* End Negative Feeedback Css */

.imageBorder {
  margin-top: 14px !important;
  margin-right: 8px !important;
}
.hrline {
  border: 0.7px solid rgba(0, 0, 0, 0.42) !important;
}
.hrline:hover {
  /* border: 1px solid #2896E9; */
}
