.container {
    display: flex;
    justify-content: center;
  }
  .headerContainer {
    /* margin: 5rem auto !important; */
    box-shadow: 2rem !important;
    background-color: #fff !important;
    border: "20px solid #00000011" !important;
    padding: 20px !important;
    width: 375px !important;
    height: 798px !important;
    align-items: center;
  }
  .logo {
    text-align: center;
  }
.title{
  font-size: 14px !important;
  color: #212125 !important;
  font-weight: bold !important;
  letter-spacing: 0.14px !important;
  font-style: normal normal bold 14px/18px Mulish;
}
.subTitle{
  font-size: 12px !important;
  color: #212125 !important;
  font-weight: normal !important;
  letter-spacing: 0.14px !important;
  font-style: normal normal bold 12px/15px Mulish;
}
.actions{
  text-align: center;
}
.createBtn {
  background-color: #007aff !important;
  color: #ffffff !important;
  padding: 12px 30px !important;
  font-size: 0.8rem !important;
  border-radius: 25px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  width: 300px !important;
}
.footer{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.sugar{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.download{
  text-align: center !important;
}
.star{
  display: flex !important;
  justify-content: center !important;
  gap: 2px !important;

}
  .gaps {
    margin-top: 10px;
  }