.card{
    box-shadow: 0px 0px 8px #00002626 !important;
border-radius: 10px !important;
}
.difference{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 5px !important;
}
.avator{
    width: 68px !important;
    height: 68px !important;
}
.avatorSecond{
    width: 88px !important;
    height: 88px !important;
}
.cardShowRoom{
    background-color: #E7F0FB !important;
    border-radius: 10px !important;
}

.cardFactory{
    background-color: #EBE4F6 !important;
    border-radius: 10px !important;
}

.subDifference{
    display: flex !important;
    gap: 10px !important;
}
.subContainer{
    display: flex !important;
    flex-direction: column !important;
}