.qr_Container{
    background-color: #00000000 !important;
    border: 2px solid #00000011 !important;
    color: #161616 !important;
    font-weight: normal !important;
    font-size: 1.2rem !important;
    box-shadow: 2rem !important;
    width: 23% !important;
    margin: 5rem auto !important;
}
.sub_Container{
    text-align: end !important;
}
.sub_an_Container{
    cursor: pointer !important;
    outline: none !important;
}